<div class="charts-main-container">
  <div class="charts-pair">
    <div class="chart-container">
      <app-week-chart [symbol]="symbol"></app-week-chart>
    </div>
    <div class="chart-container">
      <app-month-chart [symbol]="symbol"></app-month-chart>
    </div>
  </div>
  <div class="charts-pair">
    <div class="chart-container">
      <app-half-year-chart [symbol]="symbol"></app-half-year-chart>
    </div>
    <div class="chart-container">
      <app-year-chart [symbol]="symbol"></app-year-chart>
    </div>
  </div>
</div>
